.text-center {
	text-align: center;
}
.member-form{
    width:60% !important;
}
section .wrapper {
	width: 100%;
	padding: 30px 0;
}
img {
	max-width: 100%;
	height: auto;
}
.fTitle h1 {
	text-align: center;
}
.hide {
	display: none;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
textarea.form-control {
	height: auto;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #fff;
    background-color: #000;
    border-color: rgb(77, 75, 75);
}
.alert-error {
    padding: 15px;
    background-color: #f44336;
    color: white;
    position: fixed; 
    top: 0;
    right: 0; 
    width: 30%;
    margin: 5px;
    border-radius: 10px;

  }
  .alert-success {
    padding: 15px;
    background-color: #1a7a2a;
    color: white;
    position: fixed; 
    top: 0;
    right: 0; 
    width: 30%;
    margin: 5px;
    border-radius: 10px;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  .card {
    /* width:800px;
    height:400px; */
    background:transparent;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    top:0;
    bottom:0;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .msg{
    font-size: 14px;;
    background:transparent;
    position:absolute;
    padding: 5px;
    max-width: 16%;
    margin-bottom:20px;
    border-top: 4px solid #f44336;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .groups-clubs ul li .fGallery {
    display: inline-block;
    width: 100%;
  }
  .groups-clubs ul li:after {  
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 2px;
  }
  .groups-clubs ul li .fGallery .img {
    width: 25%;
    float: left;
  }
  .groups-clubs ul li .fGallery .content {
    float: right;
    width: 75%;
    padding: 20px 0;
  }
  .groups-clubs ul li .fGallery .content > div {
    padding: 0 20px;
  }
  .error-msg{
  color: #f44336;
  font-size: 12px;
  }
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  
  table th {
    font-size: 1rem;
    color: #FFF;
    text-align: left;
    background: #002e5b;
    padding: 0.9375rem;
}
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
  
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 20% 60% 15%;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    
  }
  /* Screen larger than 600px? 2 column */
  /* @media (min-width: 600px) {
    .grid-item { grid-template-columns: repeat(1, 1fr); }
  } */
  
  /* Screen larger than 900px? 3 columns */
  /* @media (min-width: 900px) {
    .grid-item { grid-template-columns: repeat(2, 1fr); }
  } */
  .vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #f2f2f2;
  color: #002e5b;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid  #ccc;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #002e5b;
  color: white;
}
.support-desc{
  font-size: 18px;
  /* max-width: 80%; */
}
  @media only screen and (max-width: 980px) {
.grid-container { grid-template-columns: repeat(1, 1fr) !important; }
.msg{
  font-size: 14px;;
  background:transparent;
  position:relative;
  padding: 5px;
  max-width:100%;
  margin-bottom:20px;
  border-top: 4px solid #f44336;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
}
.vertical-menu{
  display: none;
}    
.alert-error {
    padding: 5px;
    background-color: #f44336;
    color: white;
    position: fixed; 
    top: 0;
    right: 0; 
    width: 60%;
    margin: 5px;
  }
  .alert-success {
    padding: 5px;
    background-color: #1a7a2a;
    color: white;
    position: fixed; 
    font-size: 11px;
    top: 0;
    right: 0; 
    width: 60%;
    margin: 5px;
    border-radius: 3px;

  }
  }
